@model BoardGameShopMVC.ViewModels.HomeViewModel
@using BoardGameShopMVC.Infrastructure
@{
    ViewBag.Title = "BoardGameShop!";
}

<nav class="category-horizontal">
    <ul>

        @foreach (var category in Model.Categories)
        {
            <li>
                <a href="@Url.Action("List", "Store", new { categoryename = category.Name.ToLower() })" style="background-image: url(@Url.CategoryIconPath(category.IconFileName));">
                    @category.Name
                </a>
            </li>
        }

    </ul>
    <a href="">
        <img id="baner-main" src="../../Content/Images/baner-main.png" />
    </a>
</nav>

<section>
    <ul class="ThreeColumnsList large-game-list">
        @foreach (var newGame in Model.NewArrivals)
        {
            <li>
                <article>
                    <a class="addToCartLink" href="">
                        <img src="../../Content/Images/cart.png" />
                    </a>
                    <a class="productDetailsLink" href="@Url.Action("Details", "Store", new { id = newGame.GameID})">
                        <div class="newFlag"></div>
                        <img class="game" src="@Url.GamePhotoPath(newGame.GameFileName)" />
                        <h1>
                            @newGame.GameTitle
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>

<section>
    <ul class="ThreeColumnsList large-game-list">

        @foreach (var bestsellerGame in Model.Bestsellers)
        {
            <li>
                <article>
                    <a class="addToCartLink" href="../../Prototype/aaaa">
                        <img src="../../Content/Images/cart.png" />
                    </a>
                    <a class="productDetailsLink" href="@Url.Action("Details", "Store", new {id = bestsellerGame.GameID})">
                        <div class="bestsellerFlag"></div>
                        <img class="game" src="@Url.GamePhotoPath(bestsellerGame.GameFileName)" />
                        <h1>
                            @bestsellerGame.GameTitle
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>

