@model BoardGameShopMVC.ViewModels.CartViewModel
 @using BoardGameShopMVC.Infrastructure
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div id="productlist-content">
    

    @Html.Action("CategoriesMenu", "Store")
    

    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="../Content/Images/home-small.png"/>
                @Html.MvcSiteMap().SiteMapPath()
        </div>

        <section class="content-section">
            <div class="section-header" style="margin-bottom: 0px;">
                <h1>Twój koszyk</h1>
            </div>
            <table id="cart-table">
                @foreach (var cartItem in @Model.CartItems)
                {
                    <tr id="cart-row-@cartItem.Game.GameID">
                        <td>
                            <a href="@Url.Action("Details", "Store", new {id = cartItem.Game.GameID})">
                                <img src="@Url.GamePhotoPath(cartItem.Game.GameFileName)"/>
                            </a>
                        </td>
                        <td><a href="@Url.Action("Details", "Store", new {id = cartItem.Game.GameID})">@cartItem.Game.GameTitle</a></td>
                        <td>Ilość: <span id="cart-item-count-@cartItem.Game.GameID">@cartItem.Quantity</span></td>
                        <td>@string.Format("{0:0.##}", cartItem.Game.Price) zł</td>
                        
                        <td><a class="removeProduct" data-id="@cartItem.Game.GameID" href="#">Usuń</a></td>
                    </tr>
                }
                
                <tr id="cart-empty-message" 
                    @if (Model.CartItems != null && Model.CartItems.Count > 0) 
                    { 
                        <text> class="hidden" </text>
                    }>
                    <td>Twój koszyk jest pusty. Może warto coś do niego dodać?</td>
                </tr>
            </table>

            <div id="total-price" style="">
                Razem: <span id ="total-price-value">@string.Format("{0:0.##}", Model.TotalPrice)</span> zł 
             </div>

            <div class="section-button-container">
                <a class="button-link" href="">Kontynuuj zakupy</a>
                @if (Model.TotalPrice > 0)
                { 
                    <a class="button-link" id ="cart-button-checkout" href="@Url.Action("Checkout", "Cart")">Kupuję!</a>    
                }
            </div>
        </section>
    </div>
</div>

 